/* Colors for project 
 * #49306B
 * #61707D
 * #9D69A3
 * #8F3985
 * #9C528B
 */


.grid-container {
    display:grid;
    padding: 20px;
    
    
}
h1,h2,h3,h4 {
    font-family: 'Teko', sans-serif;
}
p {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}
li {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

#landing {
    background-image: url("https://images.unsplash.com/photo-1548003693-b55d51032288?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-repeat: no-repeat;
    background-position:center bottom;
    background-size:cover;
    height:75vh;
}

#landing h1 {
    font-size:50px;
    color: white;
}

#landing h3 {
    font-size:50px;
    color: white;
}

#about {
    background-image:
    background-repeat: no-repeat;
    background-position:center bottom;
    background-size:cover;
    height:50vh;
}

#about h3 {
    font-size:50px;
    color:;
}

#about p {
    font-size:25px;
    color:;
}

#about ul {
    font-size:25px;
    color:;
    background-color:#9C528B;
}

#members {
    background-image:
    background-repeat: no-repeat;
    background-position:center bottom;
    background-size:cover;
    height:50vh;
    padding-top: 125px;
}

#members h3 {
    font-size:50px;
    color:;
}

#members p {
    font-size:25px;
    color:;
}

#location {
    background-image:
    background-repeat: no-repeat;
    background-position:center bottom;
    background-size:cover;
    height:50vh;
}

#location h3 {
    font-size:50px;
    color:;
}

#location p {
    font-size:25px;
    color:;
}